* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://i.pinimg.com/originals/26/73/8f/26738fa2edcc6237de29dc3d05738b88.png");
    background-size: cover;
    background-repeat: none;
}

.title  {
    margin: 1rem;
    color: rgb(236, 152, 26);
    text-shadow: 0px 1px rgb(255, 136, 0);
}

.nav-bar {
    background-image: linear-gradient(to left, rgb(236, 152, 26), rgb(253, 255, 156), rgb(254, 255, 214));
    width: 100%;
    height: 3rem;
    display: inline-flex;
    overflow: hidden;
}

.nav-header {
    width: 100%;
    text-align: left;
    padding-top: 12px;
    padding-left: 1rem;
}

.nav-header h3{
    color: rgb(236, 152, 26);
    font-size: 20px;
    text-shadow: 0px 1px rgb(255, 136, 0);
}

.nav-header h3:hover{
    color: rgb(214, 129, 0);
    cursor: context-menu;
}

.nav-link {
    display: flex;
    justify-content: center;
}

.nav-link a {
    padding-top: 12px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 5rem;
    text-align: center;
    transition: transform .2s;
}

.nav-link a:hover {
    color: rgb(236, 152, 26);
    background-color: white;
    transform: scale(1.1);
}

.profile-bar {
    margin: 10px;
}

.profile-content {
    display: inline-block;
}

.profile-img {
    border: 2px solid rgb(255, 136, 0);
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    background-color: rgb(255, 136, 0);
    float: left;
}

.profile-text {
    float: left;
    padding-top: 75px;
    font-size: larger;
}

.profile-text pre {
    color: rgb(255, 136, 0);
    text-shadow: 1px 1px white;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.music-bar {
    display: flex;
    justify-content: center;
}

.music-bar a {
    text-decoration: none;
}

.music-card {
    margin: 6px;
    border: 1px solid rgb(236, 152, 26);
    border-radius: 8px;
    width: 7rem;
    height: 12rem;
    background-color: rgb(253, 255, 156);
}

.music-card-content {
    display: block;
    text-align: center;
}

.music-img {
    height: 10rem;
}

.music-img img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .2s;
}

.music-img:hover img {
    transform: scale(1.2);
    opacity: 80%;
}

.music-des {
    height: 2rem;
    background-color: rgb(236, 152, 26);
    border-radius: 40px;
    color: white;
    width: 100%;
    text-align: center;
}

.music-des pre {
    padding-top: 6px;
}